<h4><%= @product.name %></h4>

<div id = "show_product_detail">
    <h5><%= @product.name %></h5>
    <h5><%= @product.description %></h5>
    <h5><%= @product.price %></h5>
    <h5><%= @product.image %></h5>
    <p><%= link_to "Edit", edit_product_path %></p>
    <p><%= link_to "Delete", product_path(@product), :data => {:confirm => "are you sure?", :method => "delete"}%></p>
</div>
